<h2 mat-dialog-title>Authors works</h2>

<div class="error" *ngIf="error | async">
  {{error | async}}
</div>

<mat-progress-spinner
  *ngIf="loading | async else picArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #picArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
    >
        <img [src]="pictureId.image | image" [alt]="'Photo of ' + pictureId.title">
        <mat-card-header>
          <p> {{pictureId.title }}</p>
        </mat-card-header>

    </div>
  </div>
</ng-template>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
