<h1>Authors pics</h1>

<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else myPicsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #myPicsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let picture of pictures | async"
         fxFlex.xs="100%"
         fxFlex.sm="50%"
         fxFlex.lt-lg="33%"
         fxFlex="25%"
    >
      <mat-card class="example-card">
        <img
          mat-card-image
          [src]="picture.image | image"
          [alt]="'Photo of ' + picture.title">
        <mat-card-header>
          <p>Name of picture: {{ picture.title }}</p>
          <mat-card-subtitle>Author: {{ picture.user.displayName }}</mat-card-subtitle>
        </mat-card-header>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          *ngIf="picture.user._id === userId"
          (click)="onDelete(picture._id)"
        >Delete picture?
        </button>
      </mat-card>
    </div>
  </div>
</ng-template>
