<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Pictures</h1>
  <a routerLink="/picture-create" mat-button *appHasRoles="['user']">ADD NEW PICS</a>
</div>

<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else picsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #picsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let picture of pictures | async"
    >
      <mat-card class="example-card">
        <img
          mat-card-image
          [src]="picture.image | image"
          [alt]="'Photo of ' + picture.title">
        <mat-card-header>
          <div>
            <button mat-button (click)="openDialog(picture._id)">Title: {{ picture.title }}</button>
          </div>&nbsp;&nbsp;
          <div><a [routerLink]="['/author-pictures', picture.user._id]" mat-button *appHasRoles="['user']">
            <mat-card-subtitle>Author: {{ picture.user.displayName }} </mat-card-subtitle>
          </a></div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</ng-template>
